
<div class="flex flex-col ">

  <div class="flex justify-center flex-col">
    <h1>{{ heroName }}</h1>
    <dl>
      <td>nombre:</td>
      <dd>{{ heroName }}</dd>
      <td>Edad:</td>
      <dd>{{ heroAge }}</dd>
      <td>Metodo:</td>
      <dd>{{ getHeroDesc() }}</dd>
      <td>capitalizado:</td>
      <dd>{{ capitalizedName }}</dd>
    </dl>
    
  </div>
  <div class="flex justify-center flex-col">
    <button class="border bg-indigo-700" *ngIf="isNameChanged" (click)="changeHeroName()">Cambiar Nombre</button>
    <button class="border bg-indigo-700" *ngIf="isAgeChanged" (click)="changeHeroAge()">Cambiar Edad</button>
    <button class="border bg-indigo-700" (click)="resetForm()">RESET</button>
  </div>
</div>


